.aside {
	position: fixed;
	z-index: 500;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	transform: translateY(-100%);
	transition: transform .35s ease-in-out;
	background-color: rgba(5, 5, 5, .8);
	@include respond-to('large') {
		width: 25rem;
		transform: translateX(-100%);
	}
	&.open {
		transform: none;
	}

	&-inner {
		position: relative;
	}

	&-toggle {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-100%);
		width: 2.5rem;
		height: 2.5rem;
		@include respond-to('large') {
			transform: translateX(100%);
		}
	}
}
